$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.search {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.form__field {
  margin-left: 37.5%;
  font-family: inherit;
  width: 25%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.25rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ label[for='search-message'] {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

label[for='search-message'] {
  position: absolute;
  margin-left: 37.5%;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  font-size: 1.25rem;
}

.form__field:focus {
  ~ label[for='search-message'] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.get-weather-button {
  background: linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  background-color: #77b55a;
  border-radius: 4px;
  border: 1px solid #4b8f29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #5b8a3c;
  margin-left: 5px;
  &:hover {
    background: linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    background-color: red;
  }
  &:active {
    position: relative;
    top: 1px;
  }
}
