$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.search {
  position: relative;
  padding: 15px 0 0;
  width: 100%;
}

.form__field {
  margin-left: 37.5%;
  font-family: inherit;
  width: 25%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.25rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-top: 5px;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ label[for='search-message'] {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

label[for='search-message'] {
  position: absolute;
  margin-left: 37.5%;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
  font-size: 1.25rem;
}

.form__field:focus {
  ~ label[for='search-message'] {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.5rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
