.tiles {
  // text-align: center;
  width: 24.5%;
  height: 50px;
  margin-top: 30px;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.city,
.country,
.temperature {
  margin: 0;
}

.temperature {
  line-height: 5%;
  float: right;
}

/* note to self:
width 20% because 100% html length - 2 x margin-left(2 x 40%) = 20% */
